<%- include("partials/header") %>

<div class="container">
    <h1 class="display-6 text-center">Details for ticket: <%= ticket.title %></h1>
    <p><strong>User Affected: </strong><%= ticket.postedBy %></p>
    <p><strong>Device Affected: </strong><%= ticket.device %></p>
    <p><strong>Description: </strong><%= ticket.description %></p>
    <div class="form-group">
        <form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">DELETE</button>
            <a class="btn btn-warning" href="#">EDIT</a>
            <a class="btn btn-success" href="#">COMPLETE</a>
        </form>
    </div>
</div>

<%- include("partials/footer") %> 