<%- include("partials/header") %> 

<div class="container mt-2">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Device</th>
                <th>Posted By</th>
                <th>Date Created</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% ticket.forEach(t => { %>
                <tr>
                    <td><%= t.title %></td>
                    <td><%= t.device %></td>
                    <td><%= t.postedBy %></td>
                    <td><%= t.createdAt %></td>
                    <td><a href="/api/tickets/<%= t._id %>">More Details...</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include("partials/footer") %>